<template>
  <div v-if="currentContent">
    <div class="course__viewer bg-white rounded overflow-hidden">
      <div class="course__player">
        <TPlayer
          :url="currentContent.video_url"
          :identifier="currentContent.id"
          @setProgress="setProgress"
          @endend="endContent"
        />
      </div>
      <div class="course__description p-6">
        <h1 class="text-xl font-bold mb-3">{{ currentContent.title }}</h1>
        <p v-if="!showArticle" class="text-sm font-regular">
          {{ articleShort }}
          <span
            v-if="currentContent.article.length > 240"
            class="font-semibold text-primary cursor-pointer"
            @click="showArticle = !showArticle"
            >. Ver más</span
          >
        </p>
        <p v-else class="text-sm font-regular">
          {{ currentContent.article }}
          <span
            v-if="currentContent.article.length > 240"
            class="font-semibold text-primary cursor-pointer"
            @click="showArticle = !showArticle"
            >Ver menos</span
          >
        </p>
      </div>
    </div>
    <div class="course__comments mt-8">
      <TCommentArea />
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'ContentID',
  data() {
    return {
      showArticle: false,
    }
  },
  methods: {
    ...mapActions('courses', ['setProgress', 'endContent']),
  },
  computed: {
    ...mapState('courses', ['currentContent']),
    articleShort() {
      if (!this.currentContent) {
        return ''
      }
      return this.currentContent.article.slice(0, 240).trim()
    },
  },
}
</script>

<style></style>
