<template>
  <button
    class="t-button focus:outline-none w-full bg-primary text-white text-sm pt-2 pb-2 rounded border-0 outline-none"
    :class="{
      't-button--is-loading': loading,
    }"
  >
    <span v-if="!loading" class="t-button__text">
      <slot />
    </span>
    <span v-else class="t-button__loading inline-block mx-auto">
      <svg style="width: 16px; height: 16px" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z"
        />
      </svg>
    </span>
  </button>
</template>

<script>
export default {
  name: 'TButton',
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss">
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.t-button {
  &__loading svg {
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  &--is-loading {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
</style>
