<template>
  <div class="t-comment-box bg-white rounded p-3">
    <div class="flex">
      <div class="t-comment-box__user mr-3">
        <TUserIcon />
      </div>
      <div class="t-comment-box__input flex-auto">
        <TInput
          v-model="model.content"
          placeholder="Agregar comentario"
          :has-border="false"
          class="bg-comment-box border-0 border-transparent"
          @keypress.native.enter.prevent="onKeyPress"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'TCommentBox',
  data() {
    return {
      model: {
        content: '',
      },
      creatingComment: false,
    }
  },
  computed: {
    ...mapState('user', ['user']),
    ...mapState('courses', ['currentContent']),
  },
  methods: {
    ...mapActions('courses', ['createComment']),
    onKeyPress() {
      if (!this.model.content || this.creatingComment) {
        return
      }
      this.creatingComment = true
      const comment = {
        ...this.model,
        user_id: this.user.id,
        content_id: this.currentContent.id,
      }
      this.createComment(comment).then(() => {
        this.model.content = ''
        this.creatingComment = false
      })
    },
  },
}
</script>

<style></style>
