<template>
  <div class="t-comment-item bg-white rounded p-3 relative">
    <div class="flex items-center content-center">
      <div class="t-comment-item__user mr-3">
        <TUserIcon bg-color="secondary" />
      </div>
      <div class="t-comment-item__text flex-auto">
        <div class="t-comment-item__static">
          <h4 class="font-semibold">
            {{ comment.user.name }}
            <span v-if="moment" class="text-sm opacity-50">
              {{ moment(comment.updated_at).fromNow() }}
            </span>
          </h4>
          <div v-if="!showEditor" class="t-comment-item__content">
            <p class="text-sm font-regular">{{ comment.content }}</p>
          </div>
          <div v-else class="t-comment-item__editor w-full">
            <TTextarea
              v-model="textToEdit"
              :autofocus="true"
              @keyup.esc.native="cancelEdition"
              @keypress.enter.native.prevent="onUpdateComment"
            />
            <span
              class="text-xs text-primary cursor-pointer"
              @click="cancelEdition"
            >
              Cancelar
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="showActions && !showEditor"
      class="actions absolute top-0 right-0"
    >
      <TDropdown>
        <TDropdownItem icon="pencil" @click="onEdit"> Editar </TDropdownItem>
        <TDropdownItem icon="delete" @click="() => deleteComment(comment.id)">
          Eliminar
        </TDropdownItem>
      </TDropdown>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import 'moment/locale/es-mx'
import moment from 'moment'

export default {
  name: 'TCommentItem',
  props: {
    comment: {
      type: Object,
      default: () => {},
    },
    showActions: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      showEditor: false,
      textToEdit: '',
      moment,
    }
  },
  methods: {
    ...mapActions('courses', ['deleteComment', 'updateComment']),
    onUpdateComment() {
      this.updateComment({
        comment_id: this.comment.id,
        content: this.textToEdit,
      }).then(() => {
        this.showEditor = false
      })
    },
    cancelEdition() {
      this.showEditor = false
    },
    onEdit() {
      this.textToEdit = this.comment.content
      this.showEditor = true
    },
  },
}
</script>

<style></style>
