<template>
  <div class="t-comment-area">
    <div class="t-comment-area__counter mb-4">
      <h3 class="text-xl font-bold">{{ countComments }}</h3>
    </div>
    <div class="t-comment-area__write">
      <TCommentBox />
    </div>
    <div class="t-comment-area__list mt-3">
      <div
        v-for="comment in comments"
        :key="comment.id"
        class="t-comment-area__list-item mb-3"
      >
        <TCommentItem
          :comment="comment"
          :show-actions="user && user.id === comment.user_id"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'TCommentArea',
  props: {
    contentid: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    ...mapState('courses', ['comments']),
    ...mapState('user', ['user']),
    countComments() {
      if (!this.comments || this.comments.length === 0) {
        return 'Sin Comentarios'
      }

      if (this.comments.length === 1) {
        return '1 comentario'
      }

      return `${this.comments.length} Comentarios`
    },
  },
}
</script>

<style></style>
