<template>
  <div class="t-content-item">
    <div class="flex items-center">
      <div
        class="t-content-item__thumb rounded bg-black mr-4 flex justify-center items-center cursor-pointer"
        @click="setAsCurrent"
      >
        <img v-if="!isPlaying" :src="require('@/assets/play.svg')" alt="" />
      </div>
      <div class="t-content-item__info flex-auto">
        <h4 class="t-content-item__title font-semibold">{{ content.title }}</h4>
        <span class="t-content-item__duration text-small opacity-50">
          <TIcon icon="clock-outline" /> No Info
        </span>
      </div>
      <div class="t-content-item__progress">
        <TProgress :progress="content.progress" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TContentItem',
  props: {
    content: {
      type: Object,
      default: () => {},
    },
    isPlaying: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    setAsCurrent() {
      if (!this.isPlaying) {
        this.$emit('setAsCurrent')
      }
    },
  },
}
</script>

<style lang="scss">
.t-content-item {
  &__thumb {
    width: 110px;
    height: 60px;
  }
}
</style>
