<template>
  <div class="t-dropdown relative">
    <div
      ref="trigger"
      class="t-dropdown__trigger p-2 cursor-pointer"
      @click="toggleMenu"
    >
      <TIcon icon="dots-vertical" />
    </div>
    <div
      v-if="showMenu"
      ref="menu"
      class="t-dropdown__menu transform -translate-x-full absolute bg-white rounded pr-4 pl-4 pt-2 pb-2 shadow-sm z-10 left-1 top-5"
    >
      <div class="t-dropdown__content">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TDropdown',
  data() {
    return {
      showMenu: false,
    }
  },
  mounted() {
    document.addEventListener('click', this.clickOutSide)
  },
  destroyed() {
    document.removeEventListener('click', this.clickOutSide)
  },
  methods: {
    clickOutSide(event) {
      if (!this.isInWhiteList(event.target)) {
        this.showMenu = false
      }
    },
    isInWhiteList(el) {
      let isInList = false
      if (el === this.$refs.trigger) {
        return true
      }

      if (this.$refs.trigger && !isInList) {
        isInList = this.existsInChildren(this.$refs.trigger, el)
      }

      return isInList
    },
    existsInChildren(parent, toFind) {
      let existInChildren = false
      const children = parent.childNodes

      for (let i = 0; i < children.length; i++) {
        const child = children[0]
        if (child === toFind) {
          existInChildren = true
          break
        } else if (child.firstChild) {
          const existInChild = this.existsInChildren(child, toFind)
          if (existInChild) {
            existInChildren = true
            break
          }
        }
      }
      return existInChildren
    },
    toggleMenu() {
      this.showMenu = !this.showMenu
    },
  },
}
</script>

<style lang="scss">
.t-dropdown {
  &__menu {
    min-width: 140px;
  }
}
</style>
