<template>
  <div
    class="t-dropdown-item pt-2 pb-2 cursor-pointer"
    @click="() => $emit('click')"
  >
    <span class="font-sm flex">
      <TIcon v-if="icon" :icon="icon" class="mr-3" />
      <slot />
    </span>
  </div>
</template>

<script>
export default {
  name: 'TDropdownItem',
  props: {
    icon: {
      type: String,
      default: '',
    },
  },
}
</script>

<style></style>
