<template>
  <div class="t-field w-full">
    <div class="t-field__label text-sm">
      {{ label }}
    </div>
    <div class="t-field__control">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'TField',
  props: {
    label: {
      type: String,
      default: '',
    },
  },
}
</script>

<style></style>
