<template>
  <i class="mdi" :class="`mdi-${icon} ${isSpin ? 'mdi-spin' : ''}`"></i>
</template>

<script>
export default {
  name: 'TIcon',
  props: {
    icon: {
      type: String,
      default: '',
    },
    isSpin: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style></style>
