<template>
  <input
    v-model="modelComputed"
    :type="type"
    v-bind="$attrs"
    class="w-full t-input outline-none rounded p-2 text-sm"
    :class="`${hasBorder ? 'border border-soft-gray' : ''}`"
  />
</template>

<script>
export default {
  name: 'TInput',
  props: {
    type: {
      type: String,
      default: 'text',
    },
    value: {
      type: String,
      default: '',
    },
    hasBorder: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      internalInput: '',
    }
  },
  computed: {
    modelComputed: {
      get() {
        return this.internalInput
      },
      set(val) {
        this.$emit('input', val)
        this.internalInput = val
      },
    },
  },
  watch: {
    value(val) {
      this.internalInput = val
    },
  },
  mounted() {
    this.internalInput = this.value
  },
}
</script>

<style lang="scss">
.t-input {
  min-height: 37px;
}
</style>
