<template>
  <div class="t-player">
    <div ref="vimeoPlayer" class="vimeo-player"></div>
  </div>
</template>

<script>
import Player from '@vimeo/player'

export default {
  name: 'TPlayer',
  props: {
    url: {
      type: String,
      default: '',
    },
    identifier: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      player: null,
      lastRefreshProgress: 0,
    }
  },
  watch: {
    identifier(newValue) {
      this.setVideoOnPlayer()
    },
  },
  mounted() {
    this.setPlayer()
    window.addEventListener('resize', this.resizePlayer)
  },
  destroyed() {
    window.removeEventListener('resize', this.resizePlayer)
  },
  methods: {
    resizePlayer() {
      console.log('resize')
    },
    setVideoOnPlayer() {
      const videoID = this.url.replace('https://vimeo.com/', '')
      this.player.loadVideo(videoID)
    },
    setPlayer() {
      const videoID = this.url.replace('https://vimeo.com/', '')
      const elementWidth = this.$refs.vimeoPlayer.offsetWidth
      const options = {
        id: videoID,
        autoplay: true,
        width: elementWidth,
      }
      const player = new Player(this.$refs.vimeoPlayer, options)
      player.on('timeupdate', this.onTimeupdate)
      player.on('ended', this.onEndend)
      this.player = player
    },
    onEndend() {
      this.$emit('endend')
    },
    onTimeupdate({ percent }) {
      const progress = percent * 100
      if (progress > this.lastRefreshProgress + 5) {
        this.$emit('setProgress', progress)
        this.lastRefreshProgress = progress
      }
    },
  },
}
</script>

<style lang="scss">
.t-player {
  min-height: 402px;
  width: 100%;
  background-color: #000;
}
</style>
