<template>
  <div class="t-progress">
    <div
      v-if="progress < totalOfProgress"
      class="t-progress__indicator rounded-full overflow-hidden"
    >
      <svg class="t-progress-ring" width="22" height="22">
        <circle
          class="t-progress-ring__circle"
          stroke="#30308C"
          stroke-width="3"
          fill="white"
          r="10"
          cx="11"
          cy="11"
          :style="style"
        />
        <circle
          class="t-progress-ring__circle opacity-10"
          stroke="#000000"
          stroke-width="3"
          fill="white"
          r="10"
          cx="11"
          cy="11"
          :style="styleBackground"
        />
      </svg>
    </div>
    <div
      v-else
      class="t-progress__ready w-5 h-5 bg-primary rounded-full flex justify-center items-center"
    >
      <svg
        width="12"
        height="10"
        viewBox="0 0 12 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.1017 1L4.1102 8.97705L0.932251 5.35112"
          stroke="white"
          stroke-width="1.69491"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TProgress',
  props: {
    totalOfProgress: {
      type: Number,
      default: 100,
    },
    progress: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      circunference: 10 * 2 * Math.PI,
    }
  },
  computed: {
    style() {
      return {
        strokeDasharray: `${this.circunference} ${this.circunference}`,
        strokeDashoffset:
          this.circunference - (this.progress / 100) * this.circunference,
      }
    },
    styleBackground() {
      return {
        strokeDasharray: `${this.circunference} ${this.circunference}`,
        strokeDashoffset: this.circunference - 1 * this.circunference,
      }
    },
  },
}
</script>
