<template>
  <div class="t-splah h-screen flex justify-center items-center">
    <div class="t-splash__logo">
      <TLogo />
      <div class="loading text-center mt-3">
        <TIcon icon="loading" :is-spin="true" class="text-primary text-xl" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TSplash',
}
</script>

<style></style>
