<template>
  <textarea
    v-model="modelComputed"
    v-bind="$attrs"
    class="t-text-area text-sm p-2 w-full resize-none outline-none focus:outline-none"
    @keypress="(event) => $emit('keypress', event)"
  ></textarea>
</template>

<script>
export default {
  name: 'TTextarea',
  props: {
    value: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      internalInput: '',
    }
  },
  computed: {
    modelComputed: {
      get() {
        return this.internalInput
      },
      set(val) {
        this.$emit('input', val)
        this.internalInput = val
      },
    },
  },
  watch: {
    value(val) {
      this.internalInput = val
    },
  },
  mounted() {
    this.internalInput = this.value
  },
}
</script>

<style>
.t-text-area {
  background-color: #ecf1f6;
}
</style>
