<template>
  <div
    class="t-user-icon w-10 h-10 rounded-full flex justify-center items-center"
    :class="`bg-${bgColor}`"
  >
    <img :src="require('@/assets/user.svg')" alt="Icono de usuario" />
  </div>
</template>

<script>
export default {
  name: 'TUserIcon',
  props: {
    bgColor: {
      type: String,
      default: 'primary',
    },
  },
}
</script>

<style lang="scss">
.t-user-icon {
  &.bg-secondary {
    background-color: #80808a;
  }
}
</style>
