<template>
  <div class="login flex justify-center items-center min-h-screen">
    <div class="login__form bg-white rounded p-5">
      <div class="login__logo text-center mb-8 mt-5">
        <TLogo class="m-auto" />
      </div>
      <form @submit.prevent="onSubmit">
        <div class="login__field mb-3">
          <TField label="Email">
            <TInput v-model="model.email" type="email" :required="true" />
          </TField>
        </div>
        <div class="login__field mb-3">
          <TField label="Password">
            <TInput v-model="model.password" type="password" :required="true" />
          </TField>
        </div>
        <div v-if="showMessage" class="login__message text-sm text-red-400">
          Usuario o contraseña incorrectos.
        </div>
        <div class="login__actions mt-4">
          <div class="login__button mb-5">
            <TButton type="submit" :disabled="loading" :loading="loading">
              Iniciar sesión
            </TButton>
          </div>
          <div class="login__helper-text text-sm text-center">
            <span>
              ¿Nuevo en Talently?
              <nuxt-link class="text-primary font-semibold" to="/auth/register"
                >Crea una cuenta.</nuxt-link
              >
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Login',
  data() {
    return {
      model: {
        email: '',
        password: '',
      },
      loading: false,
      showMessage: false,
    }
  },
  methods: {
    ...mapActions('user', ['login']),
    async onSubmit() {
      this.loading = true
      this.showMessage = false
      try {
        await this.login(this.model)
        this.$router.push('/courses/talently-tech-challenge')
      } catch (error) {
        this.showMessage = true
      }

      this.loading = false
    },
  },
}
</script>

<style lang="scss">
.login {
  &__form {
    width: 313px;
  }
}
</style>
