<template>
  <div class="register flex justify-center items-center min-h-screen">
    <div class="register__form bg-white rounded p-5">
      <div class="register__logo text-center mb-8 mt-5">
        <TLogo class="m-auto" />
      </div>
      <form @submit.prevent="onSubmit">
        <div class="register__field mb-3">
          <TField label="Nombre">
            <TInput v-model="model.name" :required="true" />
          </TField>
        </div>
        <div class="register__field mb-3">
          <TField label="Email">
            <TInput v-model="model.email" type="email" :required="true" />
          </TField>
        </div>
        <div class="register__field mb-3">
          <TField label="Password">
            <TInput v-model="model.password" type="password" :required="true" />
          </TField>
        </div>
        <div v-if="showMessage" class="register__message">
          <span class="text-sm text-red-500"> Ocurrio un error </span>
        </div>
        <div class="register__actions mt-4">
          <div class="register__button mb-5">
            <TButton type="submit" :loading="loading" :disabled="loading">
              Iniciar sesión
            </TButton>
          </div>
          <div class="register__helper-text text-sm text-center">
            <span>
              ¿Ya tienes cuenta?
              <nuxt-link class="text-primary font-semibold" to="/auth/login"
                >Inicia sesión.</nuxt-link
              >
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Register',
  data() {
    return {
      model: {
        name: '',
        email: '',
        password: '',
      },
      loading: false,
      showMessage: false,
    }
  },
  methods: {
    ...mapActions('user', ['register']),
    async onSubmit() {
      this.loading = true
      this.showMessage = false
      try {
        const user = await this.register(this.model)
        if (!user) {
          this.showMessage = true
        } else {
          this.$router.push('/auth/login')
        }
      } catch (error) {
        this.showMessage = true
      }

      this.loading = false
    },
  },
}
</script>

<style lang="scss">
.register {
  &__form {
    width: 313px;
  }
}
</style>
