<template>
  <div class="courses-section pt-6 mb-8">
    <div v-if="loadingUser" class="splah">
      <TSplash />
    </div>
    <div v-else class="container container mx-auto">
      <div class="courses-section__navbar mb-6">
        <div class="grid grid-cols-2">
          <div>
            <TLogo />
          </div>
          <div class="text-right text-sm">
            <span
              class="cursor-pointer inline-flex items-center"
              @click="logout"
            >
              Cerrar Sesión
              <TIcon class="text-xl ml-3" icon="logout-variant" />
            </span>
          </div>
        </div>
      </div>
      <div class="courses-section__content">
        <Nuxt />
      </div>
    </div>
  </div>
</template>

<script>
import auth from '@/mixins/auth'
import { mapActions } from 'vuex'

export default {
  name: 'Courses',
  mixins: [auth],
  methods: {
    ...mapActions('user', ['logout']),
  },
}
</script>

<style lang="scss">
body {
  font-family: 'Nunito Sans', sans-serif;
}
</style>
