<template>
  <div class="common-layout">
    <div v-if="loadingUser" class="common-layout__splash">
      <TSplash />
    </div>
    <div v-else class="common-layout__content">
      <Nuxt />
    </div>
  </div>
</template>

<script>
import auth from '@/mixins/auth'

export default {
  name: 'Default',
  mixins: [auth],
}
</script>

<style lang="scss">
body {
  font-family: 'Nunito Sans', sans-serif;
}
</style>
