<template>
  <div class="course talently-tech-challenge">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-8">
        <div v-if="$route.params.contentid">
          <nuxt-child />
        </div>
      </div>
      <div class="col-span-4">
        <div class="course__content bg-white rounded p-5">
          <TContentItem
            v-for="content in contentList"
            :key="content.id"
            :content="content"
            :is-playing="currentContent && currentContent.id == content.id"
            class="mb-4"
            @setAsCurrent="() => setContentAsCurrent(content)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'Slug',
  layout: 'courses',
  data() {
    return {
      loading: false,
    }
  },
  async mounted() {
    await this.getContent()
  },
  computed: {
    ...mapState('courses', ['contentList', 'currentContent']),
  },
  methods: {
    ...mapActions('courses', ['getContent', 'setContentAsCurrent']),
  },
}
</script>

<style></style>
